
# development tools
# ------------------------------------------------------------------------------

.devspace

# secret files
# ------------------------------------------------------------------------------

**/secrets.yaml